@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body{
  background-image: url('../img/rm209-ning-20.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(247, 244, 244);
}

.login-container {
 background-color: #fff;
  display: flex;
  flex-direction: column;
  padding:30px;
  border-radius: 16px;
  gap: 0.7rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  justify-content: center;
  backdrop-filter: blur(6px);
  width: 90%;
  max-width: 350px;
}

.login-container h2{
  text-align: center;
  margin-bottom: 20px;
  color:rgb(139, 0, 0);
    font-family: "Bebas Neue", sans-serif;
  font-weight: 550;
  font-style: normal;
}

.input-group{
  margin-bottom: 15px;

}

.input-group label{
  display: block;
  margin-bottom:5px;
  color:rgb(0, 0, 1);
  font-size: 14px;

}

.input-group input{
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14px;

}

button{
  width: 100%;
  padding: 13px;
  background-color:rgb(139, 0, 0);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  


}

button:hover{
  background-color: #3d0000;
  transition: .2s;
}


.bg-credit {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
}


a{
  text-decoration: none;
  color: rgb(139, 0, 0);
}

p1{
  font-size: small;
}


.linha {
    display: flex;
    gap: 10px;
    width: 100%;
}

.linha .input-group {
    flex: 1;
}

.linha select {
    width: 100%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
}
